export(clevRvisShiny)
export(createSeaObject)
export(dolphinPlot)
export(extSharkPlot)
export(plaicePlot)
export(plotWidget)
export(sharkPlot)
export(exploreTrees)

import('shiny',except=c(validate,setProgress,dataTableOutput,renderDataTable,
                        runExample))
import('RColorBrewer')
import('ggraph')
import('igraph',except=c(union, as_data_frame,groups,compose,simplify))
import('ggiraph') 
import('cowplot',except=c(align_plots))
import('htmlwidgets')
import('plotwidgets')
import('readxl')
import('dplyr')
import('readr')
import('purrr')
import('tibble')
import('patchwork')
import('R.utils')
import('shinyWidgets')
import('colorspace')
import('shinyhelper')
import('shinycssloaders')
import('ggnewscale')
import('shinydashboard')
import('DT')
import('colourpicker')
importFrom("grDevices", "colorRampPalette")
importFrom("methods", "new", "representation")
importFrom("stats", "spline")
importFrom("utils", "tail")
importFrom("ggplot2", "geom_point", "aes", "scale_y_reverse", 
            "scale_x_reverse", "coord_flip")
importFrom("ggplot2", "ggplot", "scale_fill_manual", "theme", "geom_segment", 
            "geom_text", "geom_point")
importFrom("ggplot2", "expand_limits", "guides", "scale_color_discrete", 
            "scale_color_manual", "scale_size_area")
importFrom("ggplot2", "theme_void", "guide_legend", "geom_hline", 
            "scale_colour_manual")